@tailwind base;
@tailwind components;
@tailwind utilities;

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}
body {
  @apply bg-lightGrey;
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 40px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: hsl(252, 100%, 84%);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(252, 100%, 62%);
    border-radius: 100vh;
    border: 1px solid hsl(252, 100%, 96%);
  }
}
